.chatback {
    background-color: #000000;
}

.chatwindow {
    background-color: #FFFFFF;
    float:left;
    width: 800px;
    overflow-y: auto;
    height: 600px;
}

h4 {
    background-color: lightblue;
}
